@font-face{
	font-family: "Lato";
	src: url(fonts/Lato.ttf);
}

@font-face{
	font-family: "Montserrat";
	src: url(fonts/Montserrat.ttf);
}


body{
	font-family: "Lato"
}

header{
	width: 1440px;
	height: 700px;
	background-size: cover;
	background: url("img/header/headWap.png") center no-repeat;
	background-size: cover;
}

header a{
	text-decoration: none;
	outline: none;
	color: white;
}

.Head{
	width: 1440px;
	height: 700px;
	background: linear-gradient(180deg, #0B0C0E 10.21%, rgba(11, 12, 14, 0.2) 100%);
}

.menuHead{
	display: flex;
}

.listHead ul{
	display: flex;
	color: white;
	margin-top: 27px;
	margin-left: 30px;
}

.listHead li{
	cursor: pointer;
	list-style: none;
	padding: 0 0 0 40px;
	font-size:14px;
}

#menu_catalog_items{
	position: absolute;
	background: /*linear-gradient(black, #BF6230)*/#422000;
	border-radius: 0px;
	margin-top: 20px;
	border: 2px inset;
	border-color: black, white;
	border-right: none;
	border-left: none;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 40px;
	display: none;
	z-index: 1;
}

#menu_catalog_items li{
	cursor: pointer;
	padding: 10px 0px;
	border-bottom: 1px solid rgb(255,255,255,0.5);
	border-right: none;
	border-left: none;
}

#menu_catalog_items li:hover{
	opacity: 0.8;
	color: black;
	border-bottom-color: rgb(0,0,0,0.7);
}

.regionHead{
	display: flex;
	color: white;
}

.regionHead img{
	width:10px;
	height: 10px;
	padding-top: 23px;
	margin: 0px 10px 0px 10px;
}

.marker{
	width: 5px;
	height: 5px;
	margin: 0px 10px 0px 10px;
	margin-top: 18px;
	border: 2.5px solid white;
	transform: rotate(45deg);
	border-radius: 50% 50% 0% 50%;
}

#regions{
	position: absolute;
	display: none;
	margin-top: 40px;
	background: linear-gradient(45deg ,black, #BF6230, black );
	box-shadow: inset 0px 0px 10px 4px #1c1404;
	padding-right: 30px; 
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 20px;
}

#regions li{
	list-style: none;
	padding: 10px 0 10px 0;
	border-bottom: 1px solid rgb(255,255,255,1);
}

#regions li:hover{
	opacity: 0.6;
}

.sliderHead{
	color: white;
	margin-top: 200px
}

.slider_item_head{
	width: 15px;
	border-bottom: 2px solid white;
	padding: 10px 0 0 0px;
	margin: 10px;
}

.slider_item_head p{
	display: none;
}

.active_slider_item{
	width: 25px;
}

.active_slider_item p{
	display: block;
	margin: 0;
	padding: 0;
	width: 25px;
}

.banner_all_head{
	display: flex;
}

.banner_head{
	display: none;
	color: white;
	margin-top: 100px;
	margin-left: 300px;
}

.banner_items{
	display: flex;
	margin-top: 200px;
} 

.banner_head_item{
	margin: 20px;
	height: 40px;
	border-left: 2px solid #C0511F;
}

.banner_head_name{
	text-align: center;
}

.active_banner{
	display: block;
}

@keyframes move_banner_dis{
	from{
		margin-top: 100px;

	}
	to{
		opacity: 0;
		margin-top: 0px;
	}
}

@keyframes move_banner_act{
	from{
		opacity: 0;
		margin-top: 200px;

	}
	to{
		opacity: 1;
		margin-top: 100px;
	}
}


.menu_language{
	display: flex;
}

.menu_language img{
	wudth: 20px;
	height: 20px;
}

.menu_language p{
	color: white;
}

.menu_language p:nth-child(3){
	display: none;
}

.menu_phone{
	display: flex;
	color: white;
}

.menu_phone img{
	width: 10px;
	height: 10px;
}

.menu_user{
	display: flex;
}